.info-section {
	display: grid;
	gap: 1.5rem;
	text-align: center;
	justify-items: center;
}

.info-section > header {
	display: grid;
	gap: 1rem;
	justify-items: center;
}

.social-link-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem 2rem;
	list-style: none;
	padding: 0;
}

.social-link {
	--size: 2rem;
	--mask: var(--icon-url) no-repeat center;

	display: block;
	position: relative;
	background-color: currentColor;
	width: var(--size);
	height: var(--size);
	
	-webkit-mask: var(--mask);
	-webkit-mask-size: var(--size);

	mask: var(--mask);
	mask-size: var(--size);
}
