@import "/css/base.css" layer(base);
@import "/css/components.css" layer(components);

@layer main {
  .profile-photo {
    --size: 10rem;

    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: var(--br-full);
  }
  
}
